
#js-draw-area {
  position: relative;
  border: 1px solid hsl(198, 34%, 26%);
  width: 860px;
  height: 800px;
}

/*#js-draw-area::after {
  content: attr(#js-draw-area);
}*/

.link {
  fill: none;
  stroke: #999;
  /*stroke-width: .5px;*/
}

.node {
  /*fill: #ccc;*/
  stroke: #fff;
  stroke-width: 1.5px;
}

.node circle.root {
  /*fill: #7F2524;*/
}

text {
  font: 8px sans-serif;
  pointer-events: none;
  fill: #666;
}

.controls {
  position: absolute;
  top: 20px;
  right: 20px;
}

#js-level-chooser {
  position: absolute;
  top: 60px;
  right: 20px;
}

.active {
  background-color: #E37A59;
}

.legend {
  position: absolute;
  width: 220px;
  top: 20px;
  left: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  position: relative;
}

.legend-item {
  line-height: 1;
}

.legend-item span {
  display: inline-block;
  position: relative;
  margin-left: 65px;
}

.legend-item:before {
  content: "";
  position: absolute;
  height: 5px;
  top: 3px;
  width: 60px;
  left: 0;
  margin-right: 15px;
}

.legend-item.postcode:before     {border-bottom: 2px solid #999;}
.legend-item.birthdate:before    {border-bottom: 4px solid #999;}
.legend-item.phone_number:before {border-bottom: 6px solid #999;}
.legend-item.ip_address:before   {border-bottom: 8px solid #999;}






