
#js-draw-area {
  position: relative;
  border: 1px solid hsl(198, 34%, 26%);
  width: 860px;
  height: 800px;
}

/*#js-draw-area::after {
  content: attr(#js-draw-area);
}*/

.link {
  fill: none;
  stroke: #aaa;
  /*stroke-width: .5px;*/
}

.node {
  /*fill: #ccc;*/
  stroke: #fff;
  stroke-width: 1.5px;
}

.node circle.root {
  /*fill: #7F2524;*/
}

text {
  font: 11px sans-serif;
  pointer-events: none;
  fill: #666;
}

.controls {
  position: absolute;
  top: 20px;
  right: 20px;
}

#js-level-chooser {
  position: absolute;
  top: 60px;
  right: 20px;
}

.active {
  background-color: #E37A59;
}


