
#js-draw-area {
  border: 1px solid hsl(198, 34%, 26%);
  width: 760px;
  height: 700px;
}

/*#js-draw-area::after {
  content: attr(#js-draw-area);
}*/

.link {
  fill: none;
  stroke: #666;
  /*stroke-width: .5px;*/
}

.node {
  /*fill: #ccc;*/
  stroke: #fff;
  stroke-width: 1.5px;
}

.node circle.root {
  /*fill: #7F2524;*/
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}


